html {
  height: 100%;
  cursor: grab;
  display: grid;
  background: var(--vscode-editor-background);
}

html:active {
  cursor: grabbing;
}

body {
  overflow: hidden;
  margin: 0;
  /* don't need to be able to select image because that doesn't work well with panning */
  user-select: none;
  pointer-events: none;
  transform-origin: top left;
  width: 100%;
  background: transparent;
}

img {
  box-sizing: border-box;
  max-height: none;
  width: 100%;
}
