html {
  cursor: grab;
  /* TODO autoprefixer */
  cursor: -webkit-grab;
  touch-action: none;
  text-align: center;
  transform-origin: top left;
}

html:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

html,
body {
  height: 100%;
  overflow: hidden;
  margin: 0;
}

body[data-background='transparent'] {
  background: transparent;
}

body[data-background^='checkerboard'] {
  --checker-size: 16px;
  --checker-color: transparent;
  background-size: var(--checker-size) var(--checker-size);
  background-position: 0 0,
    calc(var(--checker-size) / 2) calc(var(--checker-size) / 2);
  background-image: linear-gradient(
      45deg,
      var(--checker-color) 25%,
      transparent 25%,
      transparent 75%,
      var(--checker-color) 75%,
      var(--checker-color)
    ),
    linear-gradient(
      45deg,
      var(--checker-color) 25%,
      transparent 25%,
      transparent 75%,
      var(--checker-color) 75%,
      var(--checker-color)
    );
}

body[data-background='checkerboard-light'] {
  --checker-color: #e6e6e6;
}

body[data-background='checkerboard-dark'] {
  --checker-color: #141414;
}
